.contact-form {
    margin-top: 20px;
    width: 100%;
    height:400px;
    position: relative;
    display: block;
    
    

    ul {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 80%;
        height: 300px;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            clear: both;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    
    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background-color: #115173;
        border: 1px solid rgb(154, 154, 14);
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 1px solid rgb(154, 154, 14);
        background-color: #115173;
        height: 70px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
    }


}

.contact-para {
    display: block;
    position: relative;
}

.contact-page {
    margin-top: 30px;
    margin-bottom: 20px;
}

.send {
    margin-top: 20px;
    margin-left: 0;
    color: rgb(154, 154, 14);
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    background:0 0;
    padding: 8px 10px;
    border: 1px solid rgb(154, 154, 14);
    float: left;
    border-radius: 4px;
}

img {
            width:52px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }